* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    border: 0.1px solid rgb(90, 90, 90);
}


/* Designing header */

header {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0rem;
}

#icon {
    margin-left: 3rem;
}

#icon img {
    width: 40px;
    height: 40px;
}

#profile-icon {
    margin-right: 3rem;
}

#profile-icon img {
    width: 40px;
    height: 40px;
}

#profile-icon button {
    background-color: black;
}

#profile-icon button:hover {
    cursor: pointer;
}

/* Designing main section */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main #first {
    margin: 0 8rem;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main #first img {
    width: 45%;
    height: 45%;
    border-radius: 0.7rem;
    box-shadow: -1px -1px 3px white;
}

main #first .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 580px;
    width: 45%;
}

main #first .container .first {
    width: 100%;
    min-height: 140px;
    margin-bottom: 3rem;
}

main #first .container .first p {
    opacity: 0.6;
}

main #first .container .first h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 900;
}

main #first .container .first div {
    margin: 1rem 0;
}

main #first .container .second {
    width: 100%;
    padding: 1rem;
    border: 1px solid white;
    text-align: center;
    min-height: 400px;
}

main #units {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

/* main #units:hover {
    cursor: pointer;
} */



.container .second div span {
    font-size: 1.5rem;
    font-weight: 600;
}

.container .second div {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

main #first .container .second .sale-time {
    margin: 1rem 0;
    font-weight: 400;
}

#first .btn-pay {
    padding: 1rem 1.5rem;
    color: white;
    border: none;
    background-image: linear-gradient(60deg, rgba(0, 157, 255, 0.7), rgba(255, 0, 251, 0.7));
    border-radius: 0.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

#first .btn-pay:hover {
    cursor: pointer;
    background-image: linear-gradient(60deg, rgba(0, 157, 255, 0.85), rgba(255, 0, 251, 0.85));
}


/* Designing benifits section */

#benefits,#terms,#risks,#buy,#stay-connected {
    /* width: 73rem; */
    width: 70vw;
    border: 1px solid white;
    margin: 3rem 0;
    /* padding: 0 2rem; */
}

#benefits {
    min-height: 30rem;
}

 .investement-first-div {
    padding: 0 5rem;
}

 .investement-first-div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

 main .sign {
    font-size: 2.2rem;
}

main .sign:hover {
    cursor: pointer;
    text-shadow: 2px 2px 10px white, -2px -2px 10px white;
}

 .investement-first-div p {
    margin: 0rem 12rem 2rem 0rem;
}

.section-main-heading {
    margin: 1rem 5rem;
}

/* 
Designing terms section */

#terms {
    min-height: 25rem;
}


/* Designing buy div */

#buy .buy-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#buy .pic {
    width: 350px;
    height: 250px;
    border: 2px solid rgb(255, 255, 255);
    margin: 2rem;
}

.buy-first-div {
    width: 40rem;
    padding: 0 5rem 0 0 ;
}

.buy-first-div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.buy-first-div p {
    margin: 0rem 2rem 1rem 0rem;
}


/* stay connected section */


#stay-connected {
    min-height: 26rem;
}

#stay-connected .connection-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    margin: 1rem 1rem;
    padding: 2rem 0;
}

#stay-connected .connection-links div {
    width: 280px;
    height: 250px;
    margin: 0.5rem 0.5rem;
    background-color: rgb(18, 18, 18);
    text-align: center;
}

#stay-connected .connection-links div:hover {
    cursor: pointer;
    border: 1px solid white;
}



/* designing more from this section */

#more {
    width: 80vw;
    border: 1px solid white;
    /* border-top: 1px solid white; */
    margin: 3rem 9rem;
    min-height: 32rem;
    padding: 5rem 3rem 2rem 3rem;
}

#more h2 span:first-child {
    margin: 0 1rem 0 3rem;
}

#more h2 span button {
    color: white;
    background-color: rgba(60, 60, 60, 0.8);
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

#more h2 span button:hover {
    cursor: pointer;
}

#more .item-price {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#more .item-price .items {
    max-width: 250px;
    height: 280px;
    margin: 0.5rem 0.2rem;
    /* border: 1px solid rgb(4, 50, 84); */
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(30, 30, 30, 0.8);
}

#more .item-price div img {
    width: 80%;
    height: 170px;
    border-radius: 0.5rem;
}

#more .item-price .artist-id {
    padding: 0.5rem;
    margin: 0.5rem 0;
}

#more .item-price .buy-now {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    margin: 0.5rem 0;
    /* border: 1px solid red; */
    border-radius: 1rem;
    background-color: black;
}

#more .item-price .buy-now p {
    font-size: 12px;
}

#more .item-price .buy-now button {
    padding: 0.4rem 0.7rem;
    color: white;
    border: none;
    background-image: linear-gradient(60deg, rgba(0, 157, 255, 0.7), rgba(255, 0, 251, 0.7));
    border-radius: 1rem;
    font-weight: 600;
    /* margin-top: 1rem; */
}

#more .item-price .buy-now button:hover {
    cursor: pointer;
    background-image: linear-gradient(60deg, rgba(0, 157, 255, 0.9), rgba(255, 0, 251, 0.9));
}

#more .view-project {
    display: flex;
    align-items: center;
    justify-content: center;
}

#more .btn-view-project {
    font-weight: 600;
    border: 1px solid white;
    border-radius: 2rem;
    color: white;
    background-color: black;
    padding: 1rem 3rem;
}

#more .btn-view-project:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2rem;
    color: black;
    background-color: white;
}



/* Designing footer */

footer {
    /* border: 2px solid whitesmoke; */
    padding: 0 0 3rem 10rem;
    margin-bottom: 1.5rem;
}


footer ul {
    list-style: none;
    display: flex;
}

footer ul li {
    margin: 0 1rem;
}

footer a {
    text-decoration: none;
    color: white;
    opacity: 0.5;
    /* display: block; */
}

footer a:hover {
    opacity: 0.9;
}